chardet==4.0.0
greenlet==1.0.0
idna==2.10
joblib==1.0.1
numpy==1.20.2
pandas==1.2.4
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-surprise==1.1.1
scipy==1.6.3
six==1.15.0
SQLAlchemy==1.4.11
SQLAlchemy-Utils==0.37.0
surprise==0.1
tqdm==4.60.0
urllib3==1.26.4
